//
//  Base.xcconfig
//  HamsterGame
//
//  Created by Eric Liang on 4/28/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974



DEVELOPMENT_TEAM = $(DEVELOPMENT_TEAM_$(USE_SHIRLEY_ACCOUNT))
DEVELOPMENT_TEAM_NO = 2NA87MVYM6
DEVELOPMENT_TEAM_YES = V2HKDY23RK

COMPANY_IDENTIFIER = shirley2997


IPHONEOS_DEPLOYMENT_TARGET = 14.0

MAIN_APP_BUNDLE_IDENTIFIER = com.shirley2997.widgetparrot

// Pods

CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO

LD_RUNPATH_SEARCH_PATHS = $(inherited) '@executable_path/Frameworks' '@loader_path/Frameworks'
OTHER_LDFLAGS = $(inherited)  -framework "UnityFramework"
USE_RECURSIVE_SCRIPT_INPUTS_IN_SCRIPT_PHASES = YES

